:root {
  --brand-color: #2196f3;
  --first-color: #757575;
  --second-color: #212121;
  --bg-hero-color: #c4c4c4;
  --card-gap: 30px;
  --bg-color-foot: #2f303a;
  --cube: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  color: #757575;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: var(--brand-color);
}

.modal__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form__button {
  display: block;
}

.sign-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity var(--duration) var(--cube);
  transition: opacity var(--duration) var(--cube);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  display: inline-block;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__blueweb {
  color: var(--brand-color);
}

.logo--black {
  color: #000;
}

.logo--white {
  color: #fff;
}

.header {
  border-bottom: 1px solid #ececec;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav__list {
  display: none;
}

@media (min-width: 768px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    margin-left: 88px;
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  .site-nav__list {
    margin-left: 93px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  font-weight: 500;
  color: var(--second-color);
  font-size: 14px;
  line-height: 1.2;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--duration) var(--cube);
  transition: color var(--duration) var(--cube);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--brand-color);
}

.site-nav__link--activ {
  color: var(--brand-color);
}

.site-nav__link--activ::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}

.header__contacts {
  display: none;
}

@media (min-width: 768px) {
  .header__contacts {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .header__contacts-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  color: var(--first-color);
  -webkit-transition: color var(--duration) var(--cube);
  transition: color var(--duration) var(--cube);
}

.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--brand-color);
}

@media (min-width: 1200px) {
  .header__contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.2;
  }
}

.header__contacts-icon {
  fill: currentColor;
  margin-right: 8px;
}

.header__contacts-icon--mail {
  width: 14px;
  height: 10px;
}

@media (min-width: 1200px) {
  .header__contacts-icon--mail {
    width: 16px;
    height: 12px;
  }
}

.header__contacts-icon--phone {
  width: 10px;
  height: 14px;
}

@media (min-width: 1200px) {
  .header__contacts-icon--phone {
    width: 10px;
    height: 16px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  opacity: 1;
  -webkit-transition: opacity var(--duration) var(--cube), -webkit-transform var(--duration) var(--cube);
  transition: opacity var(--duration) var(--cube), -webkit-transform var(--duration) var(--cube);
  transition: transform var(--duration) var(--cube), opacity var(--duration) var(--cube);
  transition: transform var(--duration) var(--cube), opacity var(--duration) var(--cube), -webkit-transform var(--duration) var(--cube);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal__icon {
  -webkit-transition: fill var(--duration) var(--cube);
  transition: fill var(--duration) var(--cube);
  fill: #000;
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: var(--brand-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-transition: color var(--duration) var(--cube), background-color var(--duration) var(--cube);
  transition: color var(--duration) var(--cube), background-color var(--duration) var(--cube);
  color: var(--first-color);
  border-radius: 50%;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--brand-color);
  color: #fff;
}

.social-list__icon {
  fill: currentColor;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  margin-bottom: 50px;
  padding: 0px;
}

.filters-list__item:not(:nth-child(5)) {
  margin-right: 8px;
}

.filters-list__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition: background-color var(--duration) var(--cube), color var(--duration) var(--cube), -webkit-box-shadow var(--duration) var(--cube);
  transition: background-color var(--duration) var(--cube), color var(--duration) var(--cube), -webkit-box-shadow var(--duration) var(--cube);
  transition: background-color var(--duration) var(--cube), color var(--duration) var(--cube), box-shadow var(--duration) var(--cube);
  transition: background-color var(--duration) var(--cube), color var(--duration) var(--cube), box-shadow var(--duration) var(--cube), -webkit-box-shadow var(--duration) var(--cube);
  background-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
}

.filters-list__button:hover, .filters-list__button:focus {
  color: #ffffff;
  background-color: var(--brand-color);
  border-style: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-right: calc(-1 * var(--card-gap));
  margin-bottom: calc(-1 * var(--card-gap));
}

.grid__item {
  -ms-flex-preferred-size: calc(100% / 3 - var(--card-gap));
      flex-basis: calc(100% / 3 - var(--card-gap));
  margin-right: var(--card-gap);
  margin-bottom: var(--card-gap);
  -webkit-transition: -webkit-box-shadow var(--duration) var(--cube);
  transition: -webkit-box-shadow var(--duration) var(--cube);
  transition: box-shadow var(--duration) var(--cube);
  transition: box-shadow var(--duration) var(--cube), -webkit-box-shadow var(--duration) var(--cube);
  border: 1px solid #eeeeee;
}

.grid__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image-thumb {
  position: relative;
  overflow: hidden;
}

.image-thumb__backdrop {
  position: absolute;
  bottom: -100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform var(--duration) var(--cube);
  transition: -webkit-transform var(--duration) var(--cube);
  transition: transform var(--duration) var(--cube);
  transition: transform var(--duration) var(--cube), -webkit-transform var(--duration) var(--cube);
  background-color: rgba(33, 150, 243, 0.9);
}

.grid__item:hover .image-thumb__backdrop {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.image-thumb__description {
  margin: 0;
  max-width: 322px;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

.product-text {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.product__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0px;
  padding: 0px;
  margin-bottom: 4px;
  color: var(--second-color);
}

.product__description {
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  margin: 0px;
  padding: 0px;
}
/*# sourceMappingURL=main.css.map */