.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--specialization {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    padding-top: 0;
  }
}

.section--team {
  background-color: #f5f4fa;
}

.section__title {
  margin-top: 0px;
  margin-bottom: var(--card-gap);

  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;

  color: var(--second-color);

  @media (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
  }
}
