.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;

  background-color: #fff;

  transform: translateX(100%);
  transition: transform var(--duration) var(--cube);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;

  border: none;

  background-color: #fff;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-toggle--close {
  top: 10px;
  right: 15px;
  position: absolute;
}

.menu-toggle__icon {
  transition: fill var(--duration) var(--cube);
}

.menu-toggle:hover .menu-toggle__icon,
.menu-toggle:focus .menu-toggle__icon {
  fill: var(--brand-color);
}

.menu-nav {
  margin: 0;
  margin-bottom: auto;
  padding: 0;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  color: var(--second-color);
}

.menu-nav__link--activ {
  color: var(--brand-color);
}

.menu-contacts {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;

  color: var(--brand-color);
}

.menu-contacts__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: inherit;
}

.menu-social {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;

  color: var(--brand-color);
}

.menu-social__item:not(:last-child) {
  content: '';
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social__item:not(:first-child) {
  content: '';
  padding-left: 10px;
}
