.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 450px;
  min-height: 609px;

  opacity: 1;
  transition: transform var(--duration) var(--cube),
    opacity var(--duration) var(--cube);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;

  @media (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__icon {
  transition: fill var(--duration) var(--cube);

  fill: #000;
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: var(--brand-color);
}
