:root {
  --brand-color: #2196f3;
  --first-color: #757575;
  --second-color: #212121;
  --bg-hero-color: #c4c4c4;
  --card-gap: 30px;
  --bg-color-foot: #2f303a;
  --cube: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
